<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        body{
            display: flex;
            background-color:indianred;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <h1> Samara </h1>
    <a href = https://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4384354D3&tokenCaptchar=03AFcWeA6PgAAqe-IjM_SPooSoN1F7Zgmg9_2F-wzaV7TqYZE3umCCiFXflW6CQl1xtyuyDfqSLonykGNkZa6iDMC8_P4y1W9AtqFlVfNyzILqZ8p8yaKRBqWifrp7UyIypq0oyWLcX5MHidTgiN_VWy-xxukudSpNKhVf4_BJAmhxXzAgxYc41PqiPpxqK5Au0d3-oTDhUtBgpUkxYqj8-Gi5HTXpTzFRe_uTDVKgs81RM9oY-n3A_LjyDd8DQpSByQXfpaxN2NyE-ViSRHMB7lfeJDbpIJGKTQoaE8UlDxshYrD1TNAKi5yFeach2dyYiCG4kvJOgWF08GVzRRZstzyxvmt14rwTyQO8UhXWjCq2G_or8PdwhtHHfjFSqdHW0iwDijrdDLMPn9SyeE7b8wH1UntbZIHpL5L2kXspsAV7n9tYQp7Wzy4pFHz94ZeG4G8rTsjJfaNv6-cuGWGralsly9b49LXkhpQI9qXeZ2Szr3AAeIRm2sq89xea0uaF6z61nHg_QQksrYhSRTBhXqR00igeTxbiTIiIzBkJqpXoy2iiYh1qQi9g1uQeOMeqGlGl8RSQt26aXInhnz4n-wlyjOdxRjbO4_PUOIXAl79AxhlWfegoq24l55uOkeeujrRyzw5FtWLlBioLCicZy31Y2oYtVwtIvy4Ga0qv5-1QUaI47XyiMFN5YdGPILQJ2omDDdPvTBJt6qVI4NgzlDiyJ1wch4re5o9Oq19kLOEDSrnRe_fMn58>Lattes</a>
    <img src = static/Samara.jpg>
</body>
</html>